spring:
  application:
    name: SyncLink
  datasource:
    url: jdbc:mysql://database-1.ca5mqm6e0yj5.us-east-1.rds.amazonaws.com:3306/synclinkdb?useSSL=true&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: admin
    password: awkitymilk753!
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
        show_sql: true
        default_batch_fetch_size: 100

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile
              - https://www.googleapis.com/auth/calendar.events.readonly
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            authorization-grant-type: authorization_code

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type.descriptor.sql: trace